{% extends "layout.html" %}
{% block title %}Assay descriptions{% endblock %}


{% block content %}
<div class="row summary-box">
  <h1 class="title">Assay descriptions</h1>
  <div class="summary" id = "main_summary">
    Experimental methodology and data for each high throughput screen
  </div>
</div>

<div class = "row">
  <table style="width:100%" id="assays">
  <tr id="label">
    <th id="table_id">id</th>
    <th id="table_assay">assay</th>
    <th id="table_descrip">description</th>
  </tr>
  {% for index, assay in df.iterrows(): %}

  <tr>
    <td class="id" id="table_id">
      {{ assay['genedata_id'] }}
    </td>

    <td class="summary" id="table_assay">
      <a href="/{{ assay['id'] }}">{{ assay['title'] }}</a>
    </td>

    <td id="table_descrip">
      {{ assay['summary'] }}
    </td>

  </tr>
  {% endfor %}
</div>

{% endblock %}
