/*Table widths for main assay page*/

#assays {
  table-layout: fixed;
}

#table_id {
  width: 10%;
  min-width: 70px;
}

#table_assay {
  width: 40%;
}

#table_descrip {
  width: 50%;
}

td {
  padding-top: 12px;
  padding-bottom: 12px;
}

#label>th {
  font-size: 1.2em;
  opacity: 0.5;
  font-weight: 300;
  text-transform: uppercase;
}

.id {
  color: #21252945;
  float: left;
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: right;
}

tr:nth-child(even) {
  background: #3d6de008;
}
