body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.title {
  width: 85%;
}


.id {
  color: #3D6DE0;
  float: left;
  width: 15%;
  padding: 1% 0;
  text-align: right;
}


.overview {
}

.overview > ul {
  list-style: none;
  padding: 6px 10px 6px 10px;
  background: #3d6de00d;
}

.summary-box {
  border-bottom: 1px solid #212529;
  border-top: 1px solid #212529;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.summary {
  font-size: 20px;
}

.condits{
  color: #818182;
  padding-top: 6px;
}

.subtitle {
  font-size: 20px;
  color: #212529;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

#content{
  margin: 15px;
}


#label {
  font-weight: 400;
}

/*Table widths for main assay page*/
#assays{
  table-layout: fixed;
}

#table_id {
  width: 10%;
}

#table_assay {
  width: 30%;
}

#table_descrip {
  width: 60%;
}

td {
  padding-bottom: 8px;
}
