/* text */


h3#data-title {
  margin-bottom: 0;
}

#protocol h3 {
  margin-top: 0.5rem;
}

/* links */

.y-link {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  fill: #212529b0;
  dominant-baseline: middle;
  /* dominant-baseline: mathematical; */
  text-anchor: end;
}

.cmpd-link {
  fill: white;
  stroke: none;
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.active.pointer {
  text-decoration: underline;
}

/* Rollover */

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.25;
}

.cmpd-link.active {
  opacity: 0;
}

.cmpd-link.inactive {
  opacity: 0.8;
}

#data-headers {
  border-bottom: 1px solid #21252980;
  border-top: 1px solid #21252980;
}

th, td {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.rollover-avg {
  font-size: 1em;
  font-weight: 400;
}

.rollover-indiv {
  font-size: 0.8em;
  color: #21252980;
  padding-left: 12px;
}

#dotplot-container {
  position: relative;
}

#structs {
  padding: 6px;
  position: absolute;
  background: #f3f3f4;
  right: 6px;
  bottom: 6px;
}

/* nav elements:  tab panes, pagination */

.nav-pills {
  margin-top: -2rem;
  margin-bottom: 16px;
}

.nav-pills .nav-link {
  background-color: #2125290d;
  border-radius: 3px;
  margin-left: 4px;
  border: 0px #2125290d solid;
  border-bottom-width: 4px;
  color: #21252935;
  -webkit-text-fill-color: #21252935;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #21252920;
  border-color: #21252920;
  -webkit-text-fill-color: #21252980;
  color: #21252980;
  /* background-color: #3d6de025;
  border-color: #3d6de025;
  color: #212529; */
}

.nav-pills .nav-link:hover {
  /* background-color: #21252920; */
  background-color: #3d6de025;
  color: #3d6de0;
  border-color: #3d6de025;
}

.nav-link {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
}

/* Pagination */

ul.pagination {
  /* list-style: none; */
}

li.page {
  /* display: inline-block;
    background-color: aliceblue; */
  /* padding: 14px; */
  /* border: 5px solid #fff; */
}

.page-link {
  /* font-weight: 400;
  font-size: 1.25em;
  background-color: #rgba(255, 0, 0, 0.15);
  text-decoration: none; */
  /* color: #3D6DE0; */
  color: #21252980;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 8px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
  border-color: white;
  /* margin-right: 50px; */
}

.page-link:focus, .page-link:hover {
    color: #FD5457;
}


.page-selected, .page-link:focus {
  color: #FD5457;
  border-color: #FD5457;
  background-color: transparent;
}

/* Dot styling */

.assay-avg {
  stroke: #212529;
  stroke-width: 0.4;
  /* fill: #3D6DE0; */
  /* fill-opacity: 0.4; */
  stroke-opacity: 1;
}

.assay-val {
  stroke: #212529;
  stroke-width: 0.4;
  fill: #c5c9ce;
  /* fill: #868e96; */
  /* fill-opacity: 0.4; */
  /* stroke-opacity: 1; */
}

/* .val-annot {
  font-size: 0.7em;
  opacity: 0.4;
} */

.lollipop {
  stroke: #21252940;
}

/* Axes */

.axis--y text {
  font-size: 1.5em;
  fill: #212529b0;
  display: none;
}

.axis path {
  stroke: #212529;
  fill: none;
  stroke-width: 0.4px;
}

.axis--y path, .axis--y line {
  display: none;
}

/* ticks & grid lines */

.axis line {
  stroke: #212529;
  fill: none;
  stroke-width: 0.6px;
}

.axis .minor line {
  stroke-width: 0.25px;
  opacity: 0.4;
}

/* annotations */

.annotation--x {
  font-weight: 400;
  font-size: 1.5em;
  opacity: 0.2;
  text-transform: uppercase;
}

.annotation-right {
  text-anchor: end;
}
