/* text */

th {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
}

h3#data-title {
  margin-bottom: 0;
}

#protocol h3 {
  margin-top: 0.5rem;
}

/* Rollover */

.rollover-avg {
  color: blue;
  font-size: 1.2em;
  font-weight: 400;
}

.rollover-indiv {
  padding-left: 12px;
}

#dotplot-container {
  position: relative;
}

#structs {
  padding: 6px;
  position: absolute;
  right: 6px;
  bottom: 6px;
}

/* nav elements:  tab panes, pagination */

.nav-pills {
  margin-top: -2rem;
  margin-bottom: 8px;
}

.nav-pills .nav-link {
  background-color: #2125290d;
  border-radius: 3px;
  margin-left: 4px;
  border: 0px #2125290d solid;
  border-bottom-width: 4px;
  color: #21252935;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #21252920;
  border-color: #21252920;
  color: #21252980;
  /* background-color: #3d6de025;
  border-color: #3d6de025;
  color: #212529; */
}

.nav-pills .nav-link:hover {
  /* background-color: #21252920; */
  background-color: #3d6de025;
  color: #3d6de0;
  border-color: #3d6de025;
}

.nav-link {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
}

/* Pagination */

ul.pagination {
  /* list-style: none; */
}

li.page {
  /* display: inline-block;
    background-color: aliceblue; */
  /* padding: 14px; */
  /* border: 5px solid #fff; */
}

.page-link {
  /* font-weight: 400;
  font-size: 1.25em;
  background-color: #rgba(255, 0, 0, 0.15);
  text-decoration: none; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
  border-color: white;
  /* margin-right: 50px; */
}

/* TODO: tie hover behavior to selected; prettier active */

.page-selected {
  color: #f00;
  border-color: #f00;
}

/* Dot styling */

.assay-avg {
  stroke: #212529;
  stroke-width: 0.4;
  /* fill: #3D6DE0; */
  /* fill-opacity: 0.4; */
  stroke-opacity: 1;
}

.assay-val {
  stroke: #212529;
  stroke-width: 0.4;
  fill: #c5c9ce;
  /* fill: #868e96; */
  /* fill-opacity: 0.4; */
  /* stroke-opacity: 1; */
}

.val-annot {
  font-size: 0.7em;
  opacity: 0.4;
}

/* Axes */

.axis--y text {
  font-size: 1.5em;
  opacity: 0.75;
  margin-right: 100px;
}

.axis path {
  stroke: #212529;
  fill: none;
  stroke-width: 0.4px;
}

.axis--y path {
  display: none;
}

/* ticks & grid lines */

.axis line {
  stroke: #212529;
  fill: none;
  stroke-width: 0.6px;
}

.axis--y line {
  stroke: #21252940;
}

.axis .minor line {
  stroke-width: 0.25px;
  opacity: 0.4;
}

/* annotations */

.annotation--x {
  font-weight: 400;
  font-size: 1.5em;
  opacity: 0.2;
  text-transform: uppercase;
}

.annotation-right {
  text-anchor: end;
}
